/* === CSS for Navigation component === */

/* Variables import */
@import "../../assets/styles/variables.scss";

.page-navigation {
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;

        .button {
            background-color: $color-accent;
            padding: 1em;

            &.inactive {
                background-color: $color-light-gray;
            }
        }
    }

    .page-count {
        text-align: center;
        color: $color-light-gray
    }
}