/* === UI === */

.button {
    height: fit-content;
    background-color: $color-bg;
    color: $color-text;
    border: none;
    padding: .5em;
    font-family: $font-body;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;

    @media (min-width: 640px) {
        &:hover {
            background-color: $color-dark-gray;
        }
    }
}

.input-field {
    background-color: $color-dark-gray;
    border: none;
    color: $color-text;
    border-bottom: 1px solid $color-text;
    font-size: 1em;
    padding: .5em 0;
    font-family: $font-body;
}